<launch>
    <arg name="bag" value="/home/petrito1/workspace/data/subt/dpp/2019-11-28/dfki_robot/ugv_2019-11-28-11-20-42.bag"/>
    <param name="use_sim_time" value="true"/>
    <node name="play" pkg="rosbag" type="play" args="--clock $(arg bag) --hz 1000.0"/>
    <include file="$(find nifti_drivers_launchers)/launch/tf_server.launch"/>
    <node name="test_timer_pub" pkg="odom_proc" type="test_timer_pub" output="screen">
        <param name="freq" value="1000.0"/>
        <remap from="odom" to="laser_odom"/>
    </node>
</launch>
